.form-container {
    width: 100%;
    background-color: $white-color;
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
}

.form {
    &__input {
        -webkit-appearance: none;
        width: 100%;
        height: 3.5rem;
        border-radius: 1rem;
        border: 2px solid #DEDEDE;
        padding: 0 1rem;

        &::placeholder {
            color: $placeholder-color;
            opacity: 1;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }

    &__password--indications > * {
        color: $label-color;
        display: block;
        font-size: .7rem;
        line-height: 1.5;
    }

    &__submit {
        -webkit-appearance: none;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        background-color: $success-color;
        color: $white-color;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 4px 0 #2AA26E;
        cursor: pointer;
    }

    &__terms {
        text-align: center;

        & > span {
            cursor: pointer;
            font-weight: 600;
            color: $primary-color;
        }
    }
}