.form-container {
    max-width: 40rem;
    background-color: $white-color;
    padding: 2rem 1.5rem;
    border-radius: 1.5rem;
}

.form {
    &__input {
        -webkit-appearance: none;
        height: 3.5rem;
        border-radius: 1rem;
        border: 2px solid #DEDEDE;
        padding: 0 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;

        &::placeholder {
            color: $placeholder-color;
            opacity: 1;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }

        &--invalid {
            border: 2px solid $primary-color;
            background: url(../img/icon-error.svg) no-repeat 95% 50%;

            &::placeholder {
                color: $primary-color;
                opacity: 1;
                font-weight: 600;
            }
        }

        &--valid {
            border: 2px solid $success-color;
            background: url(../img/icon-valid.svg) no-repeat 95% 50%;
        }

        &--message {
            display: block;
            font-style: italic;
            font-size: 0.8rem;
            color: $primary-color;
            text-align: right;
        }

    }

    &__password--indications > * {
        @include label-text;
    }

    &__password--indications-success {
        color: $success-color;
    }

    &__password--indications-invalid {
        color: $primary-color;
        text-align: right;
    }

    &__submit {
        -webkit-appearance: none;
        padding: 1rem;
        margin-top: 1rem;
        background-color: $success-color;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        border: none;
        box-shadow: 0 8px 0 #2AA26E;
        cursor: pointer;

        &:focus {
            transform: translateY(8px);
            box-shadow: none;
        }
    }

    &__terms {
        text-align: center;

        & > span {
            cursor: pointer;
            color: $primary-color;
        }
    }
}