@import './config';
@import './form';
@import './media';
@import './welcome';

body {
    font-family: 'Poppins', sans-serif;
    background: url(../img/bg-intro-desktop.png) $primary-color repeat-y;
}

.main {
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
    width: 80%;
}

.white-text {
    color: $white-color;
}

.font-600 {
    font-weight: 600;
}

.radius-12 {
    border-radius: 0.5rem;
}

.text-center {
    text-align: center
}

.width-100 {
    width: 100%;
}

.label-text {
    @include label-text;
    margin-top: 1rem;
}

.information {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        font-weight: 500;
    }
}

.promotion-container {
    max-width: 40rem;
    background-color: $accent-color;
    padding: 1rem;
    box-shadow: 0 8px 0 rgba(#000000, 0.15);
    margin-bottom: 2rem;
}

.footer {
    color: $white-color;
    &__text {
        font-size: 1rem;
    }

    &__link {
        color: inherit;
    }

    &__link:hover {
        text-decoration: none;
        color: $accent-color;
    }
}
